:root {
  --sidebar-toc-top: 20px;
}

.sidebar-toc .mw-content-container,
.sidebar-toc .mw-workspace-container .mw-article-toolbar-container {
  margin-left: 16em !important;
}

.mw-content-container {
  display: flow-root;
}

#mw-panel {
  background-color: transparent;
}

.toctogglespan {
    display: none;
}

#mw-sidebar-checkbox:checked ~ .mw-workspace-container .toc-wrapper {
  display: none;
}

.toc-wrapper {
    z-index: 4;
    position: relative;
    float: left;
    width: 12rem;
    height: fit-content;
    max-height: 90vh;
    margin: 0;
    margin-right: 1rem;
    position: sticky;
    top: var( --sidebar-toc-top );
    overflow: scroll;
    background: #F8F9FA;
    border-radius: 4px;
    padding: 5px 5px 16px 20px;
    transition: all 300ms ease-out;
    border: 1px solid #C8CCD1;
  }

  .toc-wrapper .toctitle {
    padding-top: 0;
  }

  .toc-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .toc-wrapper::-webkit-scrollbar:vertical {
    width: 11px;
  }
  .toc-wrapper::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  .toc-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, 0.4);
  }
  .toc-wrapper .toctitle {
    padding: 12px 12px 12px 0;
    justify-content: start;
  }

  .toc-wrapper #mw-toc-heading {
    border-bottom: none;
  }
  .toc-wrapper .toctitle .contents-show {
    display: none;
  }
  .toc-wrapper .toctitle .contents-hide {
    display: block;
  }
  .toc-wrapper .toctitle #mw-toc-heading {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding-top: 0;
  }
  .toc-wrapper .toc-header .contents-show, .toc-wrapper .toc-header .contents-hide {
    color: #3366cc;
    cursor: pointer;
    margin: 0;
    padding: 0 0 2px 7px;
    font-size: 13px;
  }
  .toc-wrapper .toc-header .contents-hide {
    display: none;
  }
  .toc-wrapper ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    line-height: 18px;
    padding-right: 5px;
  }

  .toc-wrapper a {
    font-weight: normal;
    color: inherit;
  }
  .toc-wrapper .tocnumber {
    display: none;
  }

  .toclevel-1 a, .toclevel-1 a:visited {
    color: #3366cc;
  }

  .toclevel-2 a, .toclevel-2 a:visited {
    color: #333;
  }

  .toc-wrapper li {
    list-style: none;
    text-indent: 0;
    display: block;
  }

  .toc-wrapper li li {
    padding-left: 6px;
  }

  a.active {
    font-weight: bold;
  }

  /*
  .toclevel-1.active > a:first-of-type {
    font-weight: bold;
  }
  */

  .toc-wrapper ul li {
    padding-left: 10px;
    position: relative;
  }

  .toc-wrapper .toclevel-1.collapsed li {
    display: none;
  }

  .toclevel-1 .toc-toggle {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    /* left arrow slant */
    border-top: 5px solid transparent;
    /* right arrow slant */
    border-left: 5px solid #000000;
    /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    left: -8px;
    top: 4px;
    cursor: pointer;
  }

  .toc-wrapper ul li.toc-level-2 {
    font-weight: normal;
  }

  .toc-wrapper ul li a {
    transition: all 300ms;
  }
  .toc-wrapper ul li a:hover {
    opacity: 0.8;
  }

  .toc-wrapper .toclevel-1 {
    padding-bottom: 5px;
  }

  .toc-wrapper ul .toctext {
    padding-bottom: 5px;
  }

/*
.toc-wrapper:not( .tocExpandOnScroll ) .toclevel-1.expanded > a {
  font-weight: bold;
}
*/
li.expanded.active > a,
li.active > a {
  font-weight: bold;
}
/* Expand while scrolling */
.toc-wrapper li ul {
  display: none;
}


.toc-wrapper li.expanded ul {
  display: block;
}

li.expanded .toc-toggle {
  transform: rotate(90deg);
}

/*
.tocExpandOnScroll.toc-wrapper .toclevel-1.collapsed.active li,
.tocExpandOnScroll.toc-wrapper .toclevel-1.collapsed.expanded li {
  display: block;
}
*/

/* Truncate lines
 * --------------
 */
.tocEllipses.toc-wrapper ul li a {
  display: flex;
}

.tocEllipses.toc-wrapper .toctext {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Display numbers
 * ---------------
 */
 .tocNumbered.toc-wrapper {
   padding-left: 0.2em;
 }

 .toc-wrapper ul li {
   padding-left: 0.5em;
 }

.tocNumbered.toc-wrapper ul li a {
  display: flex;
}

.tocNumbered.toc-wrapper .tocnumber {
  display: block;
  padding-right: 0.5em;
}

/* Depth levels numbers
 * ---------------
 */
.tocDepth-5.toc-wrapper li.toclevel-6 { display: none; }
.tocDepth-4.toc-wrapper li.toclevel-5 { display: none; }
.tocDepth-3.toc-wrapper li.toclevel-4 { display: none; }
.tocDepth-2.toc-wrapper li.toclevel-3 { display: none; }
.tocDepth-1.toc-wrapper li.toclevel-2 { display: none; }
