.mw-body a {
    color: #3366cc !important;
  }
  .mw-body a.new {
    color: #ba0000 !important;
  }
  
  a.button {
    height: 30px;
    font-size: 14px;
    color: #202122;
    cursor: pointer;
    padding: 0px 12px;
    border-radius: 2px;
    transition: all 200ms;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  a.button img {
    opacity: 0.75;
  }
  a.button span {
    padding: 0 8px 0 6px;
  }
  a.button.button-icon {
    padding: 5px 8px;
  }
  a.button.gray {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
  }
  a.button.disabled {
    opacity: 0.75;
  }
  a.button:hover {
    background-color: rgba(0, 24, 73, 0.02745098);
    text-decoration: none;
  }
  a.button:active {
    background-color: #c8ccd1;
    color: #000;
    border-color: #72777d;
    box-shadow: none;
  }
  
  .link-group {
    font-size: 14px;
  }
  
  div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div.header .header-left, div.header .header-right {
    display: flex;
    align-items: center;
  }
  
  ul.floating-menu, ol.floating-menu {
    list-style: none;
    margin: 0;
    width: max-content;
    position: absolute;
    background: white;
    z-index: 10;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    max-height: 90vh;
    overflow: auto;
  }

  ul.floating-menu li, ol.floating-menu li {
    padding: 6px 15px;
  }
  ul.floating-menu li:hover, ol.floating-menu li:hover {
    cursor: pointer;
    background: #eeeeee;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
  }
  body.background {
    background-color: #F8F9FA;
  }
  
  .outer-container {
    position: relative;
    max-width: 1650px;
    min-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    padding: 0 30px;
    border-left: 1px solid #EAECF0;
    border-right: 1px solid #EAECF0;
  }
  
  div.site-header {
    padding: 10px 0 5px 0;
    position: relative;
    z-index: 2;
    align-items: center;
  }
  div.site-header div.header-left {
    margin-right: 40px;
  }
  div.site-header div.header-left .hamburger {
    align-self: center;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background-image: url(@app/images/menu.svg);
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
  }
  /*
  div.site-header div.header-left .hamburger.close {
    background-image: url(/images/close.svg);
  }
  */
  div.site-header div.header-left .logo {
    min-width: 175px;
    min-height: 45px;
  }
  
  div.page-container {
    max-width: 1440px;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  div.page-container div.sidebar-wrapper {
    transform: translateX(-212px);
    position: absolute;
    padding-top: 1px;
  }
  div.page-container div.sidebar-wrapper.show-sidebar {
    transform: translateX(-30px);
  }
  div.page-container div.sidebar-wrapper .sidebar {
    min-width: 180px;
    max-width: 180px;
    margin-top: 5px;
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 5%, #f6f6f6 50%, #f6f6f6 90%, #ffffff 100%);
  }
  div.page-container div.sidebar-wrapper img {
    width: 130px;
    margin-bottom: 20px;
    padding: 28px 20px 35px 30px;
    background-color: unset;
  }
  div.page-container main {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10px;
  }
  div.page-container main.hide {
    display: none;
  }
  div.page-container main.show-sidebar {
    margin-left: 200px;
  }
  div.page-container main div.header.article-header {
    margin-bottom: -1px;
  }
  div.page-container main div.header.article-header .tab {
    line-height: 32px;
    background-image: linear-gradient(to top, #77c1f6 0, #e8f2f8 1px, #ffffff 100%);
  }
  div.page-container main div.header.article-header .tab a {
    font-size: 13px;
    color: #3366cc;
    padding: 15px 9px 8px 9px;
    background-image: linear-gradient(to bottom, rgba(167, 215, 249, 0) 0, #a7d7f9 100%);
    background-repeat: no-repeat;
    background-size: 1px 100%;
    background-position: right;
  }
  div.page-container main div.header.article-header .tab.active {
    background-image: none;
    border-bottom: 1px solid white;
  }
  div.page-container main div.article-container {
    min-width: unset;
    min-height: 1500px;
    border-top: 1px solid #a7d7f9;
    padding: 0 0.5em;
  }
  div.page-container main div.article-container div.article-titlebar {
    padding: 1em 0 0 0;
  }
  div.page-container main div.article-container div.article-titlebar .header {
    border-bottom: 1px solid #a2a9b1;
  }
  div.page-container main div.article-container div.article-titlebar .header h1 {
    border-bottom: none;
    margin: 0;
    font-family: "Linux Libertine", "Georgia", "Times", serif;
    font-weight: 400;
    line-height: 1.3;
    padding: 0;
  }
  div.page-container main div.article-container div.article-titlebar p {
    font-size: 12px;
  }
  div.page-container main div.article-container div.mw-body.mw-body-content.content {
    padding: 1.25em 0 1.5em 0;
    margin-top: 0;
    margin-left: 0;
    border: none;
    overflow-x: hidden;
  }
  
  .animation-checkbox {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #eeeeee;
    padding: 12px;
    font-size: 13px;
    transform: translateY(100%);
  }
  .animation-checkbox.open {
    transform: translateY(0);
  }
  .animation-checkbox.open .close-panel {
    background-image: url("@app/images/down.svg");
  }
  .animation-checkbox .close-panel {
    height: 25px;
    width: 25px;
    position: absolute;
    top: -25px;
    right: 0;
    background-image: url("@app/images/up.svg");
    background-size: cover;
    cursor: pointer;
  }
  .animation-checkbox p {
    margin-top: 6px;
    border-bottom: 1px solid gray;
  }
  .animation-checkbox .group {
    margin: 4px 0;
    padding: 4px 0;
  }
  
  #footer {
    margin: 50px 0;
    padding: 2em 0;
    border-top: 1px solid #a2a9b1;
  }
  
  @media (max-width: 1095px) {
    div.site-header {
      flex-wrap: wrap;
    }
    div.site-header div.header-middle {
      justify-content: flex-end;
      margin-right: 0;
    }
    div.site-header div.header-middle div.search-container {
      min-width: 250px;
    }
    div.site-header div.header-right {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
  @media (min-width: 1422px) {
    div.page-container main.show-sidebar {
      margin: 0 auto;
    }
  
    div.sidebar-wrapper {
      transition: all 300ms ease-out;
    }
  }
  @media (min-width: 1500px) {
    div.page-container div.sidebar-wrapper {
      transform: translateX(-317px);
    }
    div.page-container div.sidebar-wrapper .sidebar {
      min-width: 181px;
      max-width: 181px;
    }
    div.page-container div.sidebar-wrapper img {
      background-color: #fff;
    }
  }
  @media (min-width: 1710px) {
    body .outer-container {
      border-left: 1px solid #EAECF090;
      border-right: 1px solid #EAECF090;
    }
  }
  .history-page {
    padding: 10px 0px;
  }
  .history-page.hide {
    display: none;
  }
  .history-page.show-sidebar {
    margin-left: 185px;
  }
  .history-page.show-sidebar .header-container {
    margin-left: 1.5%;
  }
  .history-page .header-container {
    max-width: 960px;
    margin: 0 auto;
  }
  .history-page .header.article-header {
    margin-bottom: -1px;
  }
  .history-page #content.mw-body {
    border: none;
    margin: 0;
    border-top: 1px solid #a7d7f9;
    padding: 24px 0.5em 0 0.5em;
  }
  
  div.languages-container {
    cursor: pointer;
    position: relative;
  }
  div.languages-container img:hover {
    opacity: 0.8;
    transition: all 200ms;
  }
  div.languages-container ul {
    color: #0645AD;
    padding: 6px 0;
    right: 0;
  }
  div.languages-container ul li:hover {
    text-decoration: underline;
  }
