div.site-header .header-middle {
  flex-grow: 1;
}
div.site-header .header-middle div.search-container {
  max-width: 500px;
  min-width: 350px;
  height: 30px;
  margin: 0;
  flex-grow: 1;
  display: flex;
  position: relative;
  border: 1px solid #A2A9B1;
  border-radius: 2px;
}
div.site-header .header-middle div.search-container:hover .search-button {
  opacity: 1;
}
div.site-header .header-middle div.search-container.active {
  border-radius: 2px 2px 0 0;
  border: 1px solid transparent;
}
div.site-header .header-middle div.search-container.active .search-icon {
  opacity: 1;
  left: 0;
}
div.site-header .header-middle div.search-container.active input#search-input {
  border-radius: 2px 0 0 0;
  outline: 0;
  border: 1px solid #3366cc;
  box-shadow: inset 0 0 0 1px #3366cc;
  transform: translateX(-20px);
  padding: 5px 10px 5px 58px;
  margin-right: -20px;
}
div.site-header .header-middle div.search-container.active .search-button {
  opacity: 1;
}
div.site-header .header-middle div.search-container:focus-within {
  border: 1px solid transparent;
}
div.site-header .header-middle div.search-container:focus-within .search-icon {
  opacity: 1;
  left: 0;
}
div.site-header .header-middle div.search-container:focus-within input#search-input {
  border: 1px solid #A2A9B1;
  transform: translateX(-20px);
  padding: 5px 10px 5px 58px;
  margin-right: -20px;
}
div.site-header .header-middle div.search-container:focus-within .search-button {
  opacity: 1;
}
div.site-header .header-middle div.search-container .search-icon {
  position: absolute;
  top: 6px;
  left: 10px;
  width: 18px;
  height: 18px;
  background-image: url("/images/search.svg");
  background-size: cover;
  z-index: 12;
  opacity: 0.67;
}
div.site-header .header-middle div.search-container input#search-input {
  width: auto;
  margin: 0;
  font-size: 14px;
  padding: 5px 10px 5px 38px;
  background-color: unset;
  flex-grow: 1;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px transparent;
  border-radius: 2px 0 0 2px;
  margin: -1px 0 -1px -1px;
  position: relative;
  z-index: 10;
  transition: border-color 200ms;
}
div.site-header .header-middle div.search-container input#search-input:hover {
  border: 1px solid #72777d;
}
div.site-header .header-middle div.search-container input#search-input:focus {
  outline: 0;
  border: 1px solid #3366cc;
  box-shadow: inset 0 0 0 1px #3366cc;
  transform: translateX(-20px);
  padding: 5px 10px 5px 58px;
  margin-right: -20px;
}
div.site-header .header-middle div.search-container input#search-input::placeholder {
  color: #72777D;
}
div.site-header .header-middle div.search-container .search-button {
  opacity: 0;
  height: 32px;
  cursor: pointer;
  background-color: #F8F9FA;
  border: 1px solid #a2a9b1;
  transition: all 200ms;
  padding: 5px 12px;
  color: #202122;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
  border-radius: 0 2px 2px 0;
  display: flex;
  align-items: center;
  margin: -1px;
}
div.site-header .header-middle div.search-container .search-button:hover {
  color: #404244;
  background-color: #FFFFFF;
  z-index: 11;
}
div.site-header .header-middle div.search-container .search-button p {
  margin: 0;
}
div.site-header .header-middle div.search-container .search-button img {
  display: none;
}
div.site-header .header-middle div.search-container .search-button.icon img {
  display: block;
}
div.site-header .header-middle div.search-container .search-button.icon p {
  display: none;
}
div.site-header .header-middle div.search-container ul.searchResults {
  display: none;
  top: 30px;
  left: -21px;
  width: calc(100% - 52px);
  max-width: none;
  border: 1px solid #a2a9b1;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  z-index: -1;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.site-header .header-middle div.search-container ul.searchResults.wide {
  width: calc(100% - 2px);
}
div.site-header .header-middle div.search-container ul.searchResults:hover li.selected {
  background-color: transparent;
}
div.site-header .header-middle div.search-container ul.searchResults li {
  padding: 0;
  margin: 0;
}
div.site-header .header-middle div.search-container ul.searchResults li.selected {
  background-color: #EAECF0;
}
div.site-header .header-middle div.search-container ul.searchResults a {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 8px 10px;
  cursor: pointer;
  color: #222;
  text-decoration: none;
}
div.site-header .header-middle div.search-container ul.searchResults a:hover, div.site-header .header-middle div.search-container ul.searchResults a:focus {
  background-color: #EAECF0;
}
div.site-header .header-middle div.search-container ul.searchResults a.containing {
  height: 34px;
  border-top: 1px solid #C8CCD1;
  display: flex;
  align-items: center;
  padding: 8px 10px;
}
div.site-header .header-middle div.search-container ul.searchResults a.containing img {
  margin: 0 20px 0 10px;
}
div.site-header .header-middle div.search-container ul.searchResults a .thumbnail {
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #EAECF0;
  border-radius: 2px;
  margin: 0 12px 0 0;
}
div.site-header .header-middle div.search-container ul.searchResults a .titleDesc {
  max-width: calc(100% - 48px);
}
div.site-header .header-middle div.search-container ul.searchResults a .titleDesc .title {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin: 0 0 2px 0;
}
div.site-header .header-middle div.search-container ul.searchResults a .titleDesc .description {
  font-size: 14px;
  color: #72777d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
